<footer class="bg-gray-200 text-gray-700 p-4 mt-8">
    <div class="container mx-auto text-center">


        <p>
            <strong>"{{ SITENAME }}"</strong> started as a way for me to learn and to share what I’ve learned.
        </p>
        <p>
            &copy; <span id="current-year"></span>
            <a target="_blank" href="http://alin.morosanu.co.uk" class="underline hover:text-gray-900">Alin Morosanu</a>.
            Powered by <a href="https://getpelican.com" target="_blank" class="underline hover:text-gray-900">Pelican</a>.
        </p>

        {% if SOCIAL %}
        <div class="mt-2">
            {% for name, url in SOCIAL %}
                <a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="inline-block mx-2 hover:text-gray-900">{{ name }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</footer>